{% extends 'base.html.twig' %}

{% block title %}Log in - Movie Reviews{% endblock %}

{% block body %}
<div class="card-md card">
    <div class="card-body">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}


            <h1 class="h3 mb-3">Login</h1>

            <div class="mb-3">
                <label for="inputName">Name</label>
                <input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control" autocomplete="username" required autofocus>
            </div>

            <div class="mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">
                    Sign in
                </button>
            </div>

            <br>

            <a href="{{ path('reset_password.forgot_password_request') }}">Password Forgotten?</a>
        </form>
    </div>
</div>
{% endblock %}
