{% extends 'base.html.twig' %}

{% block title %}Home - Movie Reviews{% endblock %}

{% block body %}
  <style>
    #recent-movies {
      display: flex;
      overflow-y: auto;
      column-gap: 1rem;
    }
  </style>

  <h2>Most Recent Movies</h2>

  {% include 'partials/movies-slideshow.html.twig' with { movies: newestMovies} %}
{% endblock %}
