{% extends 'base.html.twig' %}

{% block title %}Add Movie - Movie Reviews{% endblock %}

{% block body %}
  <div class="card-md card">
    <div class="card-body">
      <h1 class="h3 mb-3">Add a movie</h1>

      {{ form(movieForm) }}
    </div>
  </div>
{% endblock %}