<style>
  .review .card-body > div {
    display: flex;
    align-items: center;
    overflow-x: auto;
  }

  .review .card-body > div div:not(:nth-child(4)) {
    margin-right: 0.5rem;
  }

  .review .card-body > div div:nth-child(4) {
    display: flex;
  }
</style>

<div class="review card">
  <div class="card-body">
    <div>
      <div>
        <span class="fa-solid fa-circle-user fa-2x"></span>      
      </div>
      <div>
        <span>{{ review.proprietary.name }}</span>
      </div>
      <div>
        <span>|</span>
      </div>
      <div>
        {% for i in 1..review.mark %}
          <span class="fa-solid fa-star text-warning"></span>
        {% endfor %}

        {% if review.mark < 5 %}
          {% for i in 1..(5 - review.mark) %}
            <span class="fa-solid fa-star text-secondary"></span>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <hr>
    
    <div>
      <p>{{ review.note }}</p>
    </div>
  </div>
</div>