<style>
  .review {
    display: flex;
  }

  .review div:first-of-type {
    text-align: center;
    min-width: 80px;
    max-width: 80px;
    margin-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<div class="review">
  <div>
    <span class="fa-solid fa-circle-user fa-3x"></span>

    <br>

    <span>{{ review.proprietary.name }}</span>

    <hr>

    <span class="fs-4">{{ review.mark }} / 5</span>
  </div>
  <div>
    <p>{{ review.note }}</p>
  </div>
</div>