{% extends 'base.html.twig' %}

{% block title %} {{ title }} - Reviews - Movie Reviews{% endblock %}

{% block body %}
  <style>
    #no-review {
      text-align: center;
    }
  </style>

  {% include 'movie/partials/header.html.twig' %}

  {% if is_granted('ROLE_USER') and hasReview == false %}
    <div class="text-center">
      <a href="{{ path('movie.reviews.new', { slug: slug, id: id }) }}" class="btn btn-primary">
        <span class="fa-solid fa-pen"></span>
        Write a review
      </a>
    </div>

    <hr>
  {% endif %}

  <div id="movie-reviews">
    {% for review in reviews %}
      {% if loop.index > 1 %}
        <hr>
      {% endif %}

      {% include 'movie/review.html.twig' %}
    {% endfor %}

    {% if reviews is empty %}
      <p id="no-review">There are no reviews for this movie.</p>
    {% endif %}
  </div>

  <br>

  <div id="pagination">
    {{ knp_pagination_render(reviews) }}
  </div>
{% endblock %}