{% extends 'base.html.twig' %}

{% block title %} {{ title }} - Videos - Movie Reviews{% endblock %}

{% block body %}
  {% include 'movie/partials/header.html.twig' %}

  {% if is_granted('ROLE_USER') and isUserProprietary == true %}
    <div class="text-center">
      <a href="{{ path('movie.videos.upload', { slug: slug, id: id }) }}" class="btn btn-primary">
        <span class="fa-solid fa-upload"></span>
        Upload Video
      </a>
    </div>

    <hr>
  {% endif %}

{% endblock %}