{% extends 'base.html.twig' %}

{% block title %}Register - Movie Reviews{% endblock %}

{% block stylesheets %}
    <style>
        .btn {
            text-align: center !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="card-md card">
        <div class="card-body">
            <h1 class="h3 mb-3">Register</h1>

            {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}
