<footer>
  <div class="container">
    <div id="social-media-links">
      <a href="#">
        <span class="fa-brands fa-facebook fa-2x"></span>
      </a>
      <a href="#">
        <span class="fa-brands fa-instagram fa-2x"></span>
      </a>
      <a href="#">
        <span class="fa-brands fa-x-twitter fa-2x"></span>
      </a>
    </div>

    <div>
      <a href="#">Terms of use</a>

      ·

      <a href="#">Privacy Policy</a>
    </div>

    <div>
      <span>© Raphael Ragoomundun</span>
    </div>
  </div>
</footer>