  <style>
    .movie-slideshow {
      margin-top: -32px;
    }

    .movies-slideshow .disable-scrollbars {
      display: flex;
      overflow-y: auto;
      column-gap: 1rem;
    }

    .movie-slideshow-arrows {
      position: relative;
      display: flex;
      justify-content: space-between;
      top: 230px;
    }

    .movie-slideshow-arrows .shadow {
      cursor: pointer;
      border-radius: 100%;
      background-color: #ffffff;
    }

    .movie-slideshow-arrows .fa-circle-left {
      margin-left: 0.5rem;
    }

    .movie-slideshow-arrows .fa-circle-right {
      margin-right: 0.5rem;
    }
  </style>

  <div class="movies-slideshow">
    <div class="movie-slideshow-arrows">
      <span class="fa-regular fa-circle-left fa-2x shadow"></span>
      <span class="fa-regular fa-circle-right fa-2x shadow"></span>
    </div>

    <div class="disable-scrollbars">
      {% for movie in movies %}
        {% include 'partials/movie-link.html.twig' %}
      {% endfor %}
    </div>
  </div>

  <script>
    const leftScrollButtonEl = document.querySelector('.fa-regular.fa-circle-left');
    const rightScrollButtonEl = document.querySelector('.fa-regular.fa-circle-right');
    const scrollableEl = document.querySelector('.disable-scrollbars');

    function scrollLeft() {
      scrollableEl.scrollBy(-300, 0);
    }

    function scrollRight() {
      scrollableEl.scrollBy(300, 0);
    }

    leftScrollButtonEl.addEventListener('click', scrollLeft);
    rightScrollButtonEl.addEventListener('click', scrollRight);
  </script>