* {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans' !important;
}

main {
  flex-grow: 1;
  margin-top: 110px;
  margin-bottom: 64px;
}

.container {
  max-width: 1024px !important;
}

.brand-font {
  font-family: Anton;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 5px #999;
}

#search input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search input:focus {
  border: 1px solid var(--bs-border-color);
  border-right: none;
}

#search button {
  border: 1px solid var(--bs-border-color);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
}

.navbar {
  background-color: #fecc00;
}

.navbar-brand {
  font-family: Anton;
}

.nav-link {
  font-family: Inter;
  font-weight: bold !important;
  font-size: 0.85rem !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

header .dropdown-menu.show {
  padding: 0;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fdcb00;
  margin-top: 10px;
  box-shadow: 2px 2px 2px #999;
}

header .dropdown-menu.show .dropdown-item:hover {
  background-color: #2d2d2d;
  color: #ffffff;
}

@media only screen and (max-width: 991px) {
  header .dropdown-menu.show {
    box-shadow: none;
    margin-top: 0;
  }
}

/* End Header */

/* Footer */

footer {
  color: #eeeeee;
  background-color: #2b2b2b;
}

footer > .container {
  text-align: center;
}

footer > .container > div {
  padding: 0.5rem 0;
}

footer > .container > div:not(#social-media-links) {
  font-size: 0.9rem;
}

footer a {
  color: #eeeeee;
  text-decoration: none;
}

footer a:hover {
  color: #ffffff;
}

#social-media-links a:nth-child(2) {
  margin: 0 1rem;
}

/* End Footer */

/* Inputs */

input:focus,
textarea:focus {
  box-shadow: none !important;
}

/* End Inputs */

/* Cards */

.card-md {
  max-width: 500px;
  margin: auto;
}

.card-md h1 {
  text-align: center;
}

.card-md .btn {
  text-align: center;
}

.card-md .mb-3:last-of-type {
  text-align: center;
}

/* End Cards */

/* Buttons */

.btn-link {
  text-decoration: none !important;
}

/* End Buttons */

/* Alerts */

.alert {
  border: none !important;
}

/* End Alerts */

/* Pagination */

#pagination {
  text-align: center;
}

#pagination > nav {
  display: inline-block;
}

/* End pagination */

/* Scroll bars */

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* End scroll bars */
