{% extends 'base.html.twig' %}

{% block title %}Add Person - Movie Reviews{% endblock %}

{% block body %}
  <div class="card-md card">
    <div class="card-body">
      <h1 class="h3 mb-3">Add a person</h1>

      {{ form(personForm) }}
    </div>
  </div>
{% endblock %}
